on boot
    chown system system /sys/class/backlight/acpi_video0/brightness
    setkeycodes e074 218
    setkeycodes e079 219

service wacom-input /system/xbin/wacom-input

service initm1400 /system/bin/sh /system/etc/init.m1400.sh